# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# Data and outputs
*.csv
*.png
!docs/**/*.png
!dataset.csv
!task2_prediction_results.csv
!confusion_matrix.png

# Git
.git/

# VS Code
.vscode/
