# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# Data and outputs
*.csv
*.png
!docs/**/*.png
!task1/calories.csv
!task1/prediction_results.csv
!task1/graphs/
!task1/graphs/**/*.png
!task2/dataset.csv
!task2/task2_prediction_results.csv
!task2/confusion_matrix.png

# Git
.git/

# VS Code
.vscode/
